@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

/* shared style */
*{
    margin: 0;
    padding: 0;
}

.display-flex{
    display: flex;
}

.black-clr{
    color: #111111;
}

.nav-middle-item{
    font-weight: bold;
    font-size: 1.25rem;
}


/* navigation style */
.navigation{
    max-height: 102px;
    justify-content: center;
    align-items: center;
}

.nav-left-side{
    max-width: 202px;
    max-height: 62px;
    gap: 11px;
    margin-right: 186px;
    margin-top: 5px;
}

.nav-img{
    max-height: 62px;
    max-width: 62px;
}

.nav-title{
    margin-top: 17px;
    margin-bottom: 15px;
}

.school{
    font-weight: bold;
    font-size: 2rem;
}

li{
    list-style: none;
}

.nav-middle-side {
    margin-top: 30px;
}

.nav-middle-side ul li a{
    text-decoration: none; 
    margin-right: 32px;  
}

.home{
    color: orange;
}

.about{
    color: lightblue;
}

.facilities{
    color: aquamarine;
}

.admission{
    color: lightpink;
}

.contact{
    max-width: 197px;
    border-radius: 12px;
    padding: 10px 10px;
    background-color:#FEA301 ;
    color: #FFFFFF;
    border-style: none;
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 186px;
    margin-top: 20px;
}

.hamburger{
    display: none;
}

/* This is banner part */

.banner-section{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.banner-left-side{
    margin-top: 100px;
    max-width: 640px;
}

.banner-title{
    font-weight:bold;
    font-size: 3.5rem;
    margin-bottom: 24px;
}

.empowering{
    color: #FEA301;
}

.vision{
    color: #01ACFD;
}

.banner-description{
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.banner-button{
    max-width: 197px;
    background-color: #111111;
    border-radius: 12px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.25rem;
}

.banner-right-side{
    max-width: 450px;
    max-height: 565px;
}

.banner-image{
    margin-left: 30px;
}
/* responsive style */

@media screen and (max-width:576px){
    .navigation{
        border-bottom: 2px solid orange;
        justify-content: space-around;
    }

    .nav-middle-side,
    .nav-right-side,
    .nav-title{
        display: none;    
    }

    .hamburger{
        display: block;
    }

    .nav-img{
        max-width: 50px;
        max-height: 50px;
    }

    #bars{
        font-weight: bold;
        transform: scale(2);
        margin-top: 20px;
    }

    .banner-left-side{
        margin-right: 0;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .banner-section{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-title{
        font-size: 2.3rem;
    }
    .banner-right-side{
        display: flex;
        justify-content: center;
        margin-right: 27px;
    }

    .banner-description{
        font-size: .95rem;
        max-width: 357px;
    }
    .banner-image{
        max-width: 340px;
    }

}